<header>
    <a href="#" class="logo">Landa.pk</a>
    <ul class="navlist">
        <li><a href="#">Shop</a></li>
        <li><a href="#">On Sale</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Brands</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="nav-right">
        <a href="#"><i class="ri-search-eye-line"></i></a>
        <a href="#"><i class="ri-shopping-cart-fill"></i></a>
        <a href="#"><i class="ri-user-3-line"></i></a>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>
